/* 1- Fonts/Icons */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic&display=swap");
@import url("vendor/default-font.min.css?family=Default:300,400,600,700,800,900&display=swap");

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu7GxKOzY.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: Roboto;
  font-display: swap;
}
/* @font-face {
  font-family: "Josefin Sans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v24/Qw3JZQNVED7rKGKxtqIqX5EUCGZ2dIn0FyA96fCThoJhKg.ttf) format("truetype");
}
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v24/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQXME.ttf) format("truetype");
}
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v24/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_ArQXME.ttf) format("truetype");
}
@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l521wRpXw.ttf) format("truetype");
}
@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-440qyriQwlOrhSvowK_l5Oew.ttf) format("truetype");
}
@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52xwNpXw.ttf) format("truetype");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizaRExUiTo99u79P0U.ttf) format("truetype");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizfRExUiTo99u79B_mh4Ok.ttf) format("truetype");
}
@font-face {
  font-family: Montserrat-Regular;
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: Montserrat-Bold;
  font-display: swap;
  src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-Black;
  font-display: swap;
  src: url("../fonts/montserrat/Montserrat-Black.ttf");
}

@font-face {
  font-family: Montserrat-SemiBold;
  font-display: swap;
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: Montserrat-Medium;
  font-display: swap;
  src: url("../fonts/montserrat/Montserrat-Medium.ttf");
} */
@font-face {
  font-family: Material-Design-Iconic-Font;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/fonts/Material-Design-Iconic-Font.woff2?v=2.2.0) format("woff2"),
    url(https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/fonts/Material-Design-Iconic-Font.woff?v=2.2.0) format("woff"),
    url(https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/fonts/Material-Design-Iconic-Font.ttf?v=2.2.0) format("truetype");
}

@font-face {
  font-family: bootstrap-icons;
  src: url(vendor/fonts/bootstrap-icons.woff2?524846017b983fc8ded9325d94ed40f3) format("woff2"),
    url(vendor/fonts/bootstrap-icons.woff?524846017b983fc8ded9325d94ed40f3) format("woff");
  font-display: swap;
}
.bi::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: 400 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-arrow-left-circle::before {
  content: "\f12a";
}
.bi-arrow-right-circle::before {
  content: "\f134";
}
.bi-chat-text::before {
  content: "\f267";
}
.bi-facebook::before {
  content: "\f344";
}
.bi-instagram::before {
  content: "\f437";
}
.bi-linkedin::before {
  content: "\f472";
}
.bi-telephone::before {
  content: "\f5c1";
}
.bi-twitter::before {
  content: "\f5ef";
}
.bi-whatsapp::before {
  content: "\f618";
}
.bi-pin-map::before {
  content: "\f64c";
}
.bi-envelope-paper::before {
  content: "\f73d";
}

/* 2- locomotive */
/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
/* ==============================================  
          GENERAL settings Section
=============================================== */
/* [collapse/expand/Underline text button ] */
.moretext {
  display: none;
}

/* new line  */
.txt-span-newline {
  display: block;
  line-height: 1.3;
  margin-top: 15px;
}
.txt-span-bold {
  font-weight: 600;
}
.subhead {
  color: var(--subhead-p-color) !important;
  font-weight: 600;
}
/* handwritten style underline readmore text */
.r-link {
  display: var(--rLinkDisplay, inline-flex) !important;
}

.r-link[href] {
  color: var(--rLinkColor) !important;
  text-decoration: var(--rLinkTextDecoration, none) !important;
}

.text-underlined {
  --uiTextUnderlinedLineHeight: var(--textUnderlinedLineHeight, 2px); /* 1 */
  --uiTextUnderlinedLineGap: var(--textUnderlinedLineGap, 0.5rem);
  --uiTextUnderlinedPaddingBottom: calc(var(--uiTextUnderlinedLineHeight) + var(--uiTextUnderlinedLineGap));

  padding-bottom: var(--uiTextUnderlinedPaddingBottom) !important;
  position: var(--textUnderlinedPosition, relative) !important;
  z-index: var(--textUnderlinedZindex, 1) !important;
}

.text-underlined::after {
  content: "";
  width: var(--textUnderlinedLineWidht, 100%) !important;
  height: var(--uiTextUnderlinedLineHeight) !important;
  background-image: var(
    --textUnderlinedBackgroundImage,
    linear-gradient(to top, var(--textUnderlinedLineColor, currentColor) 30%, rgba(255, 255, 255, 0) 45%)
  ) !important; /* 1 */

  position: absolute;
  left: var(--textUnderlinedLineLeft, 0) !important;
  bottom: var(--textUnderlinedLineBottom, 0) !important;
  z-index: var(--textUnderlinedLineZindex, -1) !important;
}

.link {
  --textUnderlinedLineHeight: 100%;
  --textUnderlinedLineGap: 0;
  --textUnderlinedLineColor: #fe6030e7;

  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.link::after {
  will-change: width;
  transition: width 0.1s ease-out;
  transform: rotate(-2deg);
  transform-origin: left bottom;
}

/* .link:hover{
	--textUnderlinedLineWidht: 0;
}

.link:hover::after{
	transition-duration: .15s;
} */

.link {
  font-weight: 700;
  text-transform: uppercase;
}

/* .link:focus{
	outline: 2px solid #fed330;
	outline-offset: .5rem;
} */

/* ---any section scale up/down------ */
.scaleDown {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transform-origin: 50% 0 0;
  -moz-transform-origin: 50% 0 0;
  -ms-transform-origin: 50% 0 0;
  transform-origin: 50% 0 0;
  transform-origin: center;
  vertical-align: middle;
}

/* ----Custome blockquote------ */
blockquote {
  font-size: 1.2em;
  width: 70%;
  margin: 50px auto;
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 3px solid #ff725e;
  line-height: 1.6;
  position: relative;
  background: #fdf6da;
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #303f46;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: "";
}

/* ==============================================  
          GENERAL settings Section
=============================================== */

/* ==============================================  
  Humberger Menue section
  =============================================== */
.menu-wrap {
  position: relative;
  z-index: 10;
  display: flex;
  padding: 0;
  margin-left: 20px;
  /* bottom:5vh; */
  /* left:1.5vw; */
}
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #000000;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: #1f1e1dd2;
  border-radius: 50%;
  width: 200vw;
  height: 200vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
/* ==============================================  
  Humberger Menue section END
  =============================================== */

/* ==============================================  
            Hero section custom start  
=============================================== */
/* ====[ logo/navbar settings ]====*/
/* @media only screen and (max-width: 600px) {
  #logo {
    width: 9.5rem;
  }
} */

#logo {
  z-index: 100;
  width: 6.5rem;
  height: auto;
  transition: all 0.7s linear;
}

.logoshadow {
  filter: drop-shadow(0.5px 0.5px 0.5px rgb(87, 87, 87));
  -webkit-filter: drop-shadow(1px 1px 0.5px rgb(87, 87, 87));
  image-rendering: auto;
}

/* =============================================================== */

/* ====[Navbar items style ]====*/
.underline {
  padding-bottom: 2px;
  --bg-h: 2px;
}

.underline a {
  /* color: #F7F7F7; */
  position: relative;
  text-decoration: none;
}

.underline a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--primary-color);
  /* background-color: #F7F5E4; */
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.underline a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-link-item {
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
  /* font-family: "Poppins", "PT Sans", "Josefin Sans", sans-serif; */
  font-size: 1.1em !important;
  color: var(--nav-item-color) !important;
}

.tab-title {
  font-weight: 600;
  line-height: 1.5;
  /* font-size: 1rem; */
}
/* =============================================================== */

/* ====[slider background color change ]====*/
/* body keyframes */
@keyframes color {
  0% {
    background: #b9fbc0;
  }
  20% {
    background: #ade8f4;
  }
  40% {
    background: #90e0ef;
  }
  60% {
    background: #2b9c76;
  }
  80% {
    background: #98f5e1;
  }
  100% {
    background: #b9fbc0;
  }
}

body {
  background: #2b9c76;
  animation: color 13s infinite linear;
}
#slider {
  background: #90dbf4;
  animation: color 13s infinite linear;
}
/* =============================================================== */

/* ====[slider full background image style ]====*/
.hero-image-fit {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-image-fit img {
  min-width: 100%;
  min-height: 100%;
  /* width: auto;
  height: auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.hero-image-fit:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* z-index: 1; */
  background: linear-gradient(to right, rgba(10, 10, 8, 0.4), rgba(197, 253, 180, 0.2));
}

/* Place text in the middle of the image */
/* =============================================================== */

/* ====[slider full background video style ]====*/
.hero-video-container {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 20px solid #000; */
  /* z-index: 1; */
}
.hero-video-container video {
  min-width: 100%;
  min-height: 100%;
  /* width: auto;
  height: auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  /* z-index: -1; */
  /* object-fit: cover; */
  /* object-fit: contain; */
  /* object-fit: scale-down; */
}
.hero-video-container:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* z-index: 1; */
  background: linear-gradient(to right, rgba(10, 10, 8, 0.25), rgba(197, 253, 180, 0.1));
}
/* =============================================================== */

/* ====[Slide settings/style ]====*/
.slider {
  position: relative;
}
#slider {
  position: relative;
  overflow: hidden;
  width: 100% !important;
}
#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 99999px;
  overflow: hidden;
  list-style: none;
}
#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
}
#slider ul li .slide {
  background-size: cover;
  height: 100vh;
}

/* button.control_prev:focus,
button.control_next:focus {
  outline: none;
  border: 1px rgba(255, 255, 255, 0.5) solid;
}
button.control_prev:hover,
button.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
} */

.outerbtn-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  float: left;
  padding-left: 50px;
  margin-right: auto;
}
button.control_prev {
  color: var(--icons-color);
  font-size: 35px;
}

button.control_next {
  position: absolute;
  color: var(--icons-color);
  font-size: 35px;
  left: 140px;
}

.top-progress-bar {
  width: 95% !important;
  height: 80px !important;
  position: absolute !important;
  text-align: center !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
}
.progress {
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  height: 0.5rem;
  width: 100%;
  bottom: 0;
  border-top: 1px rgba(0, 0, 0, 0.15) solid;
}
.progress .bar {
  height: 100%;
  width: 0%;
  /* background: rgb(72, 243, 4); */
  /* background: linear-gradient(to right, #e2f022 0%, #9bec04 45%, #03960b 100%); */
  /* background: linear-gradient(to right,#D0AC47 40%, #df8107 60%, #e26805 80%, #e76902 100%); */
  /* background: linear-gradient(to right, var(--primary-color) 40%, var(--secondary-color) 80%); */
  background: linear-gradient(to right, #bda77f 20%, #ac8f5b 100%);
}
.teaser {
  position: relative;
  /* top: 55%; */
  /* text-align: center; */
  /* width: 100%; */
  /* color: #fff; */
  /* transform: translateY(-50%); */
}

.teaser p {
  /* width: 60%; */
  max-width: 60vw;
  margin: 0rem auto;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-weight: normal;
  /* font-family:'Josefin Sans', sans-serif; */
  /* font-size: 1.2em; */
  line-height: 1.5em;
  /* text-align: left; */
  /* border-radius: 5px; */
  /* padding:10px; */
  /* background-color: rgba(0, 0, 0, 0.2); */
}
@media (min-width: 600px) {
  body .teaser p {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  body .teaser p {
    font-size: 1.2rem;
    max-width: 200vw;
  }
}
@media only screen and (max-width: 600px) {
  .outerbtn-container {
    padding-left: 20px;
  }
  button.control_next {
    left: 70px;
  }
  button.control_next,
  button.control_prev {
    font-size: 25px;
  }
}
@media only screen and (min-width: 992px) {
  h1,
  .slide-content .title {
    font-size: 4rem;
    /* text-align: center; */
  }
  body .teaser p {
    font-size: 1.5rem;
    max-width: 100vw;
  }
}
/* @media (max-width: 1199px) {
  body .teaser p{
    font-size: 3.5rem;
  }
}
@media (max-width: 991px) {
  body .teaser p{
    font-size: 2.5rem;
  }
}

@media (max-width: 767px) {
    body .teaser p{
      font-size: 2.5rem;
  }
}
@media (max-width: 576px) {
  body .teaser p{
    font-size: 1.5rem;
  }
}
@media (max-width: 374px) {
  body .teaser p{
    font-size: 1rem;
  }
} */

/* ==============================================  
            Hero section custom End  
=============================================== */

/* ==============================================  
            Top Bar custom Start  
=============================================== */
.top-banner-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  text-align: center;
  padding-top: 10px;
}
.mouse-field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  position: absolute;
}
.mouse {
  width: 30px;
  height: 50px;
  border: 2px solid rgba(var(--color), 0.8);
  border-radius: 60px;
  position: relative;
}
.mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(var(--color), 0.8);
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}
@keyframes wheel {
  to {
    opacity: 0;
    top: 40px;
  }
}
@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
@media only screen and (max-width: 1199px) {
  /* edit */
  #mousescroll {
    display: none;
  }
}
/* ==============================================  
            Top Bar custom  End  
=============================================== */

/* ==============================================  
            Social Share Bar 
=============================================== */
.container-share {
  display: flex;
  justify-content: flex-end;
  position: relative;
  float: right;
  margin-left: auto;
  padding-right: 50px;
}
.tip {
  position: absolute;
  top: 50%;
  right: calc(100% + 10px);
  transform: translateY(-50%);
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
}
.tip:after {
  content: "";
  width: 20px;
  height: 1px;
  background: rgba(44, 44, 44, 0.3);
  margin: 0 0 0 8px;
}
.custom-socialicon {
  z-index: 11;
  color: var(--icons-color);
  font-size: 35px !important;
  padding-left: 7px;
}
.custom-socialicon.bi-whatsapp:hover {
  color: green;
  background: -webkit-linear-gradient(45deg, #128c7e 0%, #25d366 25%, #17a74c 50%, #25d366 75%, #34b7f1 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.custom-socialicon.bi-facebook:hover {
  background: -webkit-linear-gradient(45deg, #3b5998 0%, #100196 25%, #4827dc 50%, #3b5998 75%, #3b5998 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.custom-socialicon.bi-twitter:hover {
  background: -webkit-linear-gradient(45deg, #33b4f0 0%, #3c9ae6 25%, #279adc 50%, #33b4f0 75%, #189bbc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .custom-socialicon.bi-instagram:hover {
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
} */

@media only screen and (max-width: 600px) {
  .container-share {
    padding-right: 20px;
  }
  .custom-socialicon {
    font-size: 25px !important;
    padding-left: 7px;
  }
  .custom-socialicon.bi-whatsapp {
    color: var(--icons-color);
  }
  .custom-socialicon.bi-facebook {
    color: var(--icons-color);
  }

  .custom-socialicon.bi-twitter {
    color: var(--icons-color);
  }
  /* .custom-socialicon.bi-instagram {
    color: gray;
  } */
}
/* ==============================================  
            Social Share End 
=============================================== */

/* ==============================================  
          about section custom Start
=============================================== */
li {
  list-style: none;
  margin: 0;
}
ul {
  padding: 0;
}
/* .highlights p {
  white-space: unset !important;
} */
#v-intro h2.featured:before {
  top: 100px !important;
  right: 130px;
}
/* ==============================================  
          about section custom End
=============================================== */

/* ==============================================  
          Card/Service section custom Start
=============================================== */
.sec-card {
  margin: auto !important ;
  width: 95%;
  /* max-width: 1140px !important ; */
  margin-top: -75px !important ;
  margin-bottom: 75px !important ;
  /* padding: 25px !important ; */
  /* z-index: 100; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07) !important ;
}

section.section-1.sec-card {
  /* margin-top: 75px !important ; */
  will-change: transform;
  border-radius: 0px 0px 10px 10px !important ;
}
section.section-2.sec-card {
  margin-top: 75px !important ;
  will-change: transform;
  border-radius: 15px 15px 10px 10px !important ;
}
section.section-3.sec-card {
  margin-top: 75px !important;
  margin-bottom: 0px !important;
  will-change: transform;
  border-radius: 10px 10px 0px 0px !important ;
}

/* ==============================================  
         Service section custom End
=============================================== */

/* ==============================================  
        The bridge Values
=============================================== */
.careFeatures {
  margin-top: 0px;
}

.careFeatures .featuresBox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.careFeatures .featuresBox .featureItem {
  -ms-flex: 25%;
  flex: 25%;
  display: inline-flex;
}

.careFeatures .featuresBox .featureItem .items {
  position: relative;
  margin: 0;
  padding: 60px 30px 0;
  transition: 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  border: 8px solid transparent;
  margin: 0 auto;
}

.careFeatures .featuresBox .featureItem .items:hover {
  transform: translateY(-39px);
  border-color: #c5c146;
  border-color: var(--primary-color);
}

.featureItem .items .image {
  /* height: 115px; */
  transition: 0.3s;
  margin: 0 auto;
}

.featureItem .items .heading {
  margin-top: 41px;
  margin-bottom: 27px;
  transition: 0.3s;
}

.featureItem .items .heading h5 {
  color: #282828;
  font-weight: bold;
}

.featureItem .items .image {
  text-align: center;
}
/* ==============================================  
        The bridge Values
=============================================== */

/* ==============================================  
        Gallary  custom Start
=============================================== */
.demo-gallary-cont {
  text-align: center;
}
/* ==============================================  
        Gallary custom End
=============================================== */

/* ==============================================  
        FORM CUSTOME STYLE START
=============================================== */

/*[ RESTYLE TAG ]*/
/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #adadad;
}
input:-moz-placeholder {
  color: #adadad;
}
input::-moz-placeholder {
  color: #adadad;
}
input:-ms-input-placeholder {
  color: #adadad;
}

textarea::-webkit-input-placeholder {
  color: #adadad;
}
textarea:-moz-placeholder {
  color: #adadad;
}
textarea::-moz-placeholder {
  color: #adadad;
}
textarea:-ms-input-placeholder {
  color: #adadad;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

/*---------------------------------------------*/
/* .container {
  max-width: 1200px;
} */
/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.bg0 {
  /* background-color: #fff; */
  background-color: #fff;
}
.bg1 {
  /* background-color: #ffffff; */
  background-color: #fff;
}

/*//////////////////////////////////////////////////////////////////
/*------------------------------------------------------------------
[  ]*/
.contact100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*------------------------------------------------------------------
[  ]*/
.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 13px;
  padding: 10px 30px 9px 22px;
  margin-bottom: 10px;
  display: inline-block;
  /* margin-right:15px; */
}
.rs1-wrap-input100 {
  width: calc((100% - 5px) / 2);
}

.label-input100 {
  /* font-family: Montserrat-SemiBold; */
  font-family: "Josefin Sans";
  font-size: 10px;
  color: #393939;
  line-height: 1.5;
  text-transform: uppercase;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  /* font-family: Montserrat-SemiBold; */
  font-family: "Josefin Sans";
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding-right: 15px;
}

/*---------------------------------------------*/
input.input100 {
  height: 40px;
}
textarea.input100 {
  min-height: 120px;
  padding-top: 9px;
  padding-bottom: 13px;
}
/*------------------------------------------------------------------
[ Alert validate ]*/
.validate-input {
  position: relative;
}
/*------------------------------------------------------------------
[ Responsive ]*/
@media (max-width: 768px) {
  .rs1-wrap-input100 {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-input100 {
    padding: 10px 10px 9px 10px;
  }
}

/* custom form & Map style */
#email.wrap-input100 {
  margin-right: 5px !important;
}

#contact .col-md-6 {
  padding: 0px;
  /* width:100%; */
  max-width: 100%;
  height: 100%;
}
#contact h2.featured:before {
  top: 80px !important;
  right: 5px;
}

.map-area {
  width: 100%;
  height: 100%;
  /* background: #fff; */
  /* box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
  0 2px 2px rgba(0,0,0,0.20), 
  0 4px 4px rgba(0,0,0,0.15), 
  0 8px 8px rgba(0,0,0,0.10),
  0 16px 16px rgba(0,0,0,0.05); */
  border: 2px solid var(--icons-color);
  /* border-radius: 2px solid var(--icons-color); */
  /* padding-top: 50px ; */
}
/* .map-link { text-decoration: underline; text-decoration-style: dotted;cursor: pointer ;}
.map-link:hover { text-decoration-style:solid;} */

/*responsive*/
@media (max-width: 991px) {
  .map-area {
    width: 100%;
    height: 400px;
  }
  #contact .col-md-6 {
    padding-top: 60px;
    width: 100%;
    max-width: 100%;
    height: 30%;
  }
  #email.wrap-input100 {
    margin-right: 0px !important;
  }
}
/* ==============================================  
        FORM CUSTOME STYLE END
=============================================== */

/* ==============================================  
        Footer custome Style Start
=============================================== */
footer {
  bottom: 0 !important;
}
footer .branding p {
  width: 300px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
/* ==============================================  
        Footer custome Style End
=============================================== */

/* ==============================================  
        Primary Button
=============================================== */
.primary-button,
.primary-button:visited,
.primary-button:active {
  position: relative;
  z-index: 2;
  /* padding: 10px 25px; */
  background-color: var(--primary-color);
  border-radius: 2px;
  color: var(--primary-b-color);
  font-weight: 400;
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--primary-color);
  background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
  background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
  color: var(--primary-b-color);
}

.dark-button,
.dark-button:visited,
.dark-button:active {
  position: relative;
  z-index: 2;
  /* padding: 10px 25px; */
  /* background-color: var(--hero-bg-color); */
  border-radius: 0;
  color: var(--white-color);
  font-weight: 400;
}

.dark-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
  background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%);
  /* background-image: green; */
}

.dark-button:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 2px;
  left: 2px;
  bottom: 0;
  right: 0;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 0;
  background-color: inherit;
}

.dark-button:hover,
.dark-button:focus,
.dark-button:hover:after,
.dark-button:focus:after {
  background-color: var(--primary-color) !important;
  background-image: -webkit-linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%) !important;
  background-image: linear-gradient(45deg, var(--secondary-color) 15%, var(--primary-color) 65%) !important;
  color: var(--white-color) !important;
}

footer .dark-button {
  background-color: var(--footer-bg-color);
}
/* ==============================================  
        Primary Button End
=============================================== */

/* ==============================================  
        Static Text Effects
=============================================== */

/* ==============================================  
        Static Text Effects END
=============================================== */

/* ==============================================  
        Action Btn Start
=============================================== */
.action-btn a {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  /* border: 2px solid #F9F7E6; */
  width: 10em;
  padding: 0;
  outline: none;
  overflow: hidden;
  color: var(--nav-item-color);
  font-weight: 600;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  line-height: 250%;
}
.action-btn a::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  display: block;
  width: 20em;
  height: 20em;
  line-height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}
.action-btn a:hover {
  color: #fff !important;
}
.action-btn a:hover::before {
  box-shadow: inset 0 0 0 10em var(--primary-color);
}

@media (max-width: 764px) {
  .action-btn a {
    /* background-color: var(--primary-color);
    border-radius: 0px !important;
    color: #fff;
    font-size: 4em; */
    display: none;
  }
}
/* ==============================================  
        Action Btn END
=============================================== */

/* ==============================================  
        Slider Nav Btn start
=============================================== */
.circle_btn {
  padding: 0px;
  width: 50px;
  height: 50px;
}
.circle_btn:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(95, 94, 94, 0.2);
  border-bottom: none;
}
/* ==============================================  
          Slider Nav Btn END
=============================================== */

/* ==============================================  
        Info Tabs Style Start
=============================================== */

/* ====================== [ Start Heading ] ====================== */

.main-title {
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* ====================== [ End Heading ] ====================== */

/* ====================== [ Start Intro ] ====================== */

.about .img-mons .img1,
.about .img-mons .img2,
.about .img-mons .img3 {
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}
.about .img-mons .img1 img,
.about .img-mons .img2 img,
.about .img-mons .img3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07) !important ;
}

.about .img-mons .img2 {
  height: 240px;
}

.about .img-mons .img3 {
  width: 75%;
  margin-top: 20px;
}

/* ====================== [ End Intro ] ====================== */

/* ====================== [ Start Responsive ] ====================== */
@media screen and (max-width: 991px) {
  .about .img-mons,
  .about .content {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .about .img-mons .img1,
  .about .img-mons .img2,
  .about .img-mons .img3 {
    margin-bottom: 10px;
  }

  .about .img-mons .img3 {
    width: 100%;
    margin-top: 0;
  }
}

/* ====================== [ End Responsive ] ====================== */

/* ====================== [  Start info tabs custome style ] ====================== */

.tab-content {
  padding-top: 3rem;
}
#who h2 {
  font-size: 2rem 0;
}
#who h4 {
  margin: 6px;
  margin: 1.5rem 0;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  font-family: var(--h2-font);
  color: var(--primary-t-color);
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.media-29101 .img {
  flex: 0 0 35%;
}
.media-29101 .text {
  padding: 25px 15px;
  /* justify-content: left; */
  /* text-justify: inter-word; */
  text-justify: inter-character;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  /* font-size: 1em !important; */
}
.carousel-nav {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
  /* edit */
  margin-top: 40px;
}
.carousel-nav a {
  color: #999;
  /* edit */
  /* padding: 20px; */
  text-align: center;
  display: inline-block;
  /* transition: 0.3s all ease; */
  /* transition: background-color .5s; */
}
/* .carousel-nav a:hover {
       color: #000;
      background: rgb(247, 235, 213);
       
    } */
.carousel-nav a.active {
  color: #000;
}
.carousel-nav a.active:before {
  content: "";
  bottom: -1px;
  left: 0;
  right: 0;
  position: absolute;
  /* border-bottom: 2px solid rgb(218, 51, 0); */
  border-bottom: 2px solid var(--primary-color);
}

/* responsive */
@media (min-width: 768px) {
  #about .text-md-left {
    padding-top: 50px;
  }
}

/* ====================== [  Start info tabs custome style ] ====================== */

/* ==============================================  
      Info Tabs Style End
=============================================== */

/* ==============================================  
        Services vertical Tabs Style Start
=============================================== */

/**
  * Article Block
  */

/**
  * Tabs Block
  */
.tabs-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
  * Tabs
  */
.tabs {
  display: flex;
  /* width:100%; */
}

.tabs > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
}

.tabs > ul li {
  display: block;
}

.tabs > ul li:not(:last-child) {
  border-bottom: 1px solid #535050;
}

.tabs > ul li a,
.tabs > ul li a:visited {
  display: flex;
  border-bottom: none;
  text-decoration: none;
  /* background-color: #588157; */
  background-color: var(--footer-bg-color);
  color: #fff;
  padding: 1rem 1.5rem;
  transition: all 0.2s ease-in-out;
  word-wrap: break-word;
}

.tabs > ul li a:hover,
.tabs > ul li a:focus,
.tabs > ul li a:active {
  border-bottom: none;
  outline: 0;
}

.tabs > ul li a.active {
  background-color: #fff;
  color: #121416;
  font-weight: bold;
}

.tabs > ul li a:hover:not(.active) {
  color: #c94406;
  /* background-color: gray; */
}

.tabs > ul li a > span {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tabs > ul li a > span.tab-label {
  display: none;
}

.tabs section {
  width: 100%;
  background-color: #ffff;
  padding: 1rem;
  display: none;
  word-wrap: break-word;
  /* border-bottom: 6px solid #b85300; */
  border-bottom: 6px solid var(--primary-color);
}

.tabs section > * {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.2s, transform 0.2s;
}

.tabs section > *:nth-child(1) {
  transition-delay: 0.2s;
}

.tabs section > *:nth-child(2) {
  transition-delay: 0.3s;
}

.tabs section > *:nth-child(3) {
  transition-delay: 0.4s;
}

.tabs section > *:nth-child(4) {
  transition-delay: 0.5s;
}

.tabs section > *:nth-child(5) {
  transition-delay: 0.6s;
}

.tabs section > *:nth-child(6) {
  transition-delay: 0.7s;
}

.tabs section.active {
  display: block;
}

.tabs section.active-content > * {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 576px) {
  .tabs > ul {
    width: 150px;
  }

  .tabs > ul li a {
    flex-wrap: wrap;
  }

  /* .tabs > ul li a > span {
    width: 100%;
  } */

  .tabs > ul li a > span.tab-label {
    /* width: 100%; */
    display: inline-block;
    margin-top: 0.2rem;
  }

  .tabs section {
    width: calc(100% - 150px);
    padding: 2rem 2rem;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 1.125rem;
  }
}

@media (min-width: 992px) {
  .tabs {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  #vtabs {
    display: none;
    visibility: hidden !important;
  }
}
#tab-2 ul li {
  list-style-type: square;
  display: list-item;
  margin-left: 50px;
}
#tab-3 ul li {
  list-style-type: square;
  display: list-item;
  margin-left: 50px;
}
#tab-5 ul li {
  list-style-type: square;
  display: list-item;
  margin-left: 50px;
}
#tab-6 ul li {
  list-style-type: square;
  display: list-item;
  margin-left: 50px;
}
#tab-7 ul li {
  list-style-type: square;
  display: list-item;
  margin-left: 50px;
}
#tab-8 ul li {
  list-style-type: square;
  display: list-item;
  margin-left: 50px;
}
/* ==============================================  
       Services vertical Tabs Style End
=============================================== */

/* ==============================================  
        Tabs hover Style
=============================================== */
.post {
  display: flex;
  text-decoration: none;
  /* color: inherit; */
  /* max-width: 400px; */
  position: relative;
  /* padding: 2rem; */
  background-color: #fff;
  cursor: pointer;
}
.post:before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  /* background-color: #93af58; */
  background-color: #fc5130;
  transform-origin: 0 bottom 0;
  transform: scaleY(0);
  transition: 0.4s ease-out;
}
.post:hover .post-title {
  color: #fff;
  /* font-weight: bold; */
  z-index: 1;
}
.post:hover:before {
  transform: scaleY(1);
}
/* ==============================================  
        Tabs hover Style
=============================================== */

/* ==============================================  
        Services Mobile Tabs Style Start
=============================================== */
.tabs-container {
  padding: 0rem;
}

.mtabs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.mtabs label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border-bottom: 0.3px solid rgba(51, 102, 39, 0.322);
  /* margin-right: 0.0625rem; */
  cursor: pointer;
  background-color: var(--footer-bg-color);
  color: #ffffff;
  /* font-family: Roboto, sans-serif; */
  /* font-size: 1.2rem; */
  font-weight: bold;
  transition: background-color ease 0.3s;
}

.mtabs .tab {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: none;
  padding: 1rem 2rem;
  color: rgb(73, 72, 72);
  background-color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.mtabs .tab > *:not(:last-child) {
  margin-bottom: 0.8rem;
}

.mtabs [type="radio"] {
  display: none;
}

.mtabs [type="radio"]:checked + label {
  background-color: #fff;
  color: rgb(34, 34, 34);
  border-top: 4px solid var(--primary-color);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.mtabs [type="radio"]:checked + label + .tab {
  display: block;
}

@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }

  .mtabs label {
    order: 1;
    width: auto;
  }

  .mtabs .tab {
    order: 9;
  }

  .mtabs [type="radio"]:checked + label {
    border-bottom: none;
  }
}

@media (min-width: 992px) {
  .mtabs {
    width: 100%;
  }
}

@media only screen and (min-width: 580px) {
  #mobtabs {
    display: none !important;
    visibility: hidden !important;
  }
}

#mobtabs .tab ul li {
  list-style-type: square;
  display: list-item;
  margin-left: 50px;
  font-weight: 600;
  font-size: 1.1em;
}
/* ==============================================  
      Services  Mobile Tabs Style End
=============================================== */
