
.tab .content p {
	 color: #999;
	 font-weight: 300;
}
#who a {
	 transition: 0.3s all ease;
	 transition: background-color .5s;
}
 #who a:hover{
	text-decoration: none !important;
	/* background-color: #77cf3c; */
	/* background: rgb(247, 235, 213); */
	/* background: rgba(233, 114, 3, 0.8); */
}
#who img{
	border-radius: 5px;
	/* top: -10vh; */
    /* position: relative; */
}
 .tab-content {
	 padding-top: 3rem;
}
#who h2 {
	 font-size: 20px;
}
#who h4{
	margin:6px;
	margin: 1.5rem 0;
    font-size: 1.3rem;
    font-weight: var(--h2-weight);
    line-height: 1.2;
    font-family: var(--h2-font);
    color: var(--primary-t-color);
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
/* .owl-carousel{
	height: 50vh !important;
	background: rgba(37, 175, 2, 0.5);
} */
 .owl-1 .owl-nav {
	 width: 100%;
	 position: absolute;
	 top: 50%;
}
 .owl-1 .owl-nav .owl-next, .owl-1 .owl-nav .owl-prev {
	 border: 1px solid red;
	 z-index: 92;
	 position: absolute;
	 top: 50%;
}
 .owl-1 .owl-nav .owl-next:active, .owl-1 .owl-nav .owl-prev:active, .owl-1 .owl-nav .owl-next:focus, .owl-1 .owl-nav .owl-prev:focus {
	 outline: none;
}
 .owl-1 .owl-nav .owl-next span, .owl-1 .owl-nav .owl-prev span {
	 color: white;
}
 .owl-1 .owl-nav .owl-next span:before, .owl-1 .owl-nav .owl-prev span:before {
	 font-size: 40px !important;
}
 .owl-1 .owl-nav .owl-next {
	 border: 4px solid blue;
	 right: 20px;
}
 .owl-1 .owl-nav .owl-prev {
	 left: 20px;
}
 .owl-1 .owl-dots {
	 position: absolute;
	 bottom: 40px;
	 left: 50%;
	 transform: translateX(-50%);
}
 .owl-1 .owl-dots .owl-dot {
	 background: none;
	 display: inline-block;
}
 .owl-1 .owl-dots .owl-dot > span {
	 display: inline-block;
	 width: 7px;
	 height: 7px;
	 border-radius: 50%;
	 background: rgba(255, 255, 255, .5);
	 margin: 4px;
}
 .owl-1 .owl-dots .owl-dot.active > span {
	 background: rgba(255, 255, 255, 1);
}
 .owl-1 .owl-dots .owl-dot:active, .owl-1 .owl-dots .owl-dot:focus {
	 outline: none;
}
 .media-29101 .img {
	 flex: 0 0 35%;
}
 .media-29101 .text {
	 padding: 25px 50px;
	 /* justify-content: left; */
	 /* text-justify: inter-word; */
	 text-justify: inter-character;
	 -ms-word-wrap: break-word ;
	 word-wrap: break-word;
	 /* font-size: 1em !important; */
}
 .media-29101 .text .category {
	 color: gray;
	 text-transform: uppercase;
	 font-size: 12px;
	 font-weight: bold;
	 letter-spacing: 0.2rem;
}
 .media-29101 .text h2 {
	 font-family: "Playfair Display", times, serif;
	 font-size: 2rem;
	 line-height: 1.3;
	 margin-bottom: 30px;
}
 .media-29101 .text h2 a {
	 color: black;
}
 .carousel-nav {
	 width: 100%;
	 border-bottom: 1px solid #ccc;
	 margin-bottom: 40px;
	 /* edit */
	 margin-top:40px;
}
 .carousel-nav a {
	 color: #999;
	 /* edit */
	 /* padding: 20px; */
	 text-align: center;
	 display: inline-block;
	 /* transition: 0.3s all ease; */
	 /* transition: background-color .5s; */
	 
}
 /* .carousel-nav a:hover {
	 color: #000;
	background: rgb(247, 235, 213);
	 
} */
 .carousel-nav a.active {
	 color: #000;
}
 .carousel-nav a.active:before {
	 content: "";
	 bottom: -1px;
	 left: 0;
	 right: 0;
	 position: absolute;
	 border-bottom: 2px solid rgb(218, 51, 0);
}
 